[2018-07-18 19:51] backkem opened #27 "testing: add integration testing that asserts STUN/NAT hole punching is working properly"
Investigate ways to simulate and test traversal of different NAT types and combinations of NAT types.

Related:

- libp2p/go-libp2p#111

[2019-03-04 06:42] kixelated opened #2 "Refactor Agent for better performance and first class Trickle support"
performance: ice/Agent.getBestPair

This function should be virtually instant but it takes 1.34% of my program's cpu time.

The issue is the message passing required because of `ice/Agent.run`. It would be much faster if this class used a mutex instead of `taskLoop`.

[2019-04-01 13:19] backkem opened #6 "Avoid webrtc/pkg/rtcerr dependency"
## Summary

Avoid webrtc/pkg/rtcerr dependency

## Motivation

It doesn't make sense for pions/ice to depend on pions/webrtc.

## Describe alternatives you've considered

We can either:
- Move rtcerr to it's own repo.
- Avoid using rtcerr in package ICE. This seems more correct but will probably require translation of the errors in pions/webrtc.

[2019-04-01 13:32] mjmac commented on #6
I concur that the dependency is wrong, and that #2 seems most correct.

[2019-04-07 06:22] enobufs opened #12 "Warning "failed to write packet""
### Your environment.
  - Version: v0.2.1
  - Browser: n/a

### What did you do?
During a stress test using a data channel (one end sends 100MB of data to the other), "failed to write packets" started to print out, then eventually the receiver becomes unresponsive.

### What did you expect?
Looking at pion/transport/packetio, there seems to be a buffer which would return an error on Write when the

[2019-04-10 08:03] Sean-Der commented on #6
Fixed with af1bcf662b40af25f82e7687c5969793f2518a16

I don't know if I fixed it completely gracefully but it had to be done during `pions` -> `pion` move

[2019-04-10 08:03] #6 closed

[2019-04-10 21:03] enobufs opened #13 "ICE connectivity problem"
### Your environment.
  - Version: v2.0.3
  - Browser: n/a

### What did you do?
I am experiencing a connectivity problem (ICE) between two nodes (using v2.0.3). Both ends are behind different NATs which happened to be the same type, port-restricted cone NAT.
### What did you expect?
ICE connection state (both ends) should go to "connected"

### What happened?
One end's ICE connection state is stu

[2019-04-10 22:55] kixelated opened #14 "Candidate.Priority() is completely wrong"
https://github.com/pion/ice/blob/7245ac0866456f7c39a534f496d0f346ab7aad30/candidate.go#L212

`^` is XOR in Go, not exponentiation. `2^24 == 26`.

It should be `(1<<24) * c.Type().Preference()` or simply `c.Type().Preference() << 24`.

`uint16` is also not large enough to hold the correct value.

[2019-04-10 22:57] kixelated opened #15 "startConnectivityChecks adds unnecessary delay"
It creates a ticker, but tickers don't fire immediately. This adds 2 seconds before connectivity checks are actually initiated.

[2019-04-10 23:10] kixelated commented on #14
Also: https://github.com/pion/ice/blob/7245ac0866456f7c39a534f496d0f346ab7aad30/candidatepair.go#L76

[2019-04-10 23:37] enobufs commented on #13
[ice-connection-issue.pcapng.zip](https://github.com/pion/ice/files/3066239/ice-connection-issue.pcapng.zip)
[answerer.log](https://github.com/pion/ice/files/3066241/answerer.log)
[offerer.log](https://github.com/pion/ice/files/3066242/offerer.log)

pcap file (zipped) and offerer and answerer logs are attached.

The pcap is done at the offerer's network (behind a NAT).
Funny thing is, the pcap ind

[2019-04-11 00:00] maxhawkins commented on #13
[code]

Going to try to find where this is implemented in the code...

[2019-04-11 00:50] enobufs commented on #13
@maxhawkins I added the logging as you requested.
[code]
But it does not show up on the console ....
If I put both nodes in the local network, the same binary, I can see the logs...

[2019-04-11 02:04] enobufs commented on #13
I believe the problem is in my environment… The node that does not receive STUN packets are under mobile hotspot network via my Android…  I found another port-restrict NAT environment, pion successfully established a connection through the port-restricted NATs on both ends.

[2019-04-11 02:31] maxhawkins commented on #14
@mjmac I think this might be related to my issue so I'm working on a PR

[2019-04-11 07:24] enobufs commented on #13
@maxhawkins @Sean-Der
Additional note.  Mobile hotspot is ruled out.  It happens with a standard WiFi via Comcast also.

I also double-checked a new pcap that the STUN (connectivity check) response is definitely coming back from the remote candidate, but nothing is from ReadFrom().

It's almost like we have net.PacketConn suddenly turned into a `connected UDP socket`. (only receives from / sends t

[2019-04-11 07:28] Sean-Der commented on #13
Nice digging @enobufs

So UDP traffic is arriving on a host+port that is listening, but ReadFrom isn't returning anything?

[2019-04-11 07:31] Sean-Der commented on #13
I don't like this https://github.com/pion/ice/blob/master/candidate.go#L139 we should probably do something with this error (could it be this?)

[2019-04-11 07:46] enobufs commented on #13
I added a debug log in the error case also, but nothing printed.  I guess it is stuck inside ReadFrom()...

[2019-04-11 08:26] Sean-Der commented on #13
@enobufs If you send something to that host+port that the candidate is listening on with `netcat` does the ReadFrom pass/work?

[2019-04-11 17:40] #14 closed

[2019-04-11 22:45] enobufs commented on #13
I feel so dumb...  My mac had firewall enabled (ESET).  When I turn it off, the problem goes away...  @maxhawkins, how about your mac?

[2019-04-11 22:46] maxhawkins commented on #13
Mine was a [completely unrelated SDP issue](https://github.com/pion/webrtc/issues/616). I wrote the bug myself a couple days ago. 🤦‍♂️

[2019-04-11 22:47] enobufs commented on #13
Okay!  Let me close this issue.

[2019-04-11 22:47] #13 closed

[2019-04-12 22:22] kixelated opened #19 "stun.Username and stun.MessageIntegrity are not checked"
Pions does not actually check if the remote username/password is correct. A bad entity could use this to hijack a session by sending a STUN packet with maxed out priority. The contents would still be encrypted using DTLS/SRTP, but it would kill the session and open up those protocols to man-in-the-middle attacks.

[2019-04-12 22:36] kixelated opened #20 "CandidatePair is not validated on Read"
Another security concern. If a non-STUN packet is received, it is blindly forwarded to the mux. This increases the attack vector of the application by exposing DTLS/SRTP/etc to arbitrary packets from the outside world. You can imagine an attack where a bad actor sends DTLS `ClientHello` packets to all possible ICE ports, and sometimes it will be able to initiate the handshake before the intended

[2019-04-12 23:22] kixelated opened #21 "Valid peers can create Prflx candidates for addresses they don't control"
1. Attacker sends a BindRequest to Pions and gets saved as a validPair.
2. Attacker never replies to Pion's BindRequest messages (so it will stay a validPair not selectedPair).
3. Attacker/Pions performs DTLS handshake.
4. Attacker sends a BindRequest with a higher priority and a spoofed return address (the target), which is also saved as a validPair.
5. Pions now proceeds to send raw SRTP/data to

[2019-04-13 18:31] #15 closed

[2019-04-13 19:57] maxhawkins opened #23 "Make ipv6 error message more descriptive"
### What did you do?

Started an ipv6 ICE candidate in a network that doesn't support ipv6

### What did you expect?

A friendly error message

### What happened?

This scary error message was logged:

`ice WARNING: 2019/04/14 01:35:50 could not allocate udp6 stun:stun.stunprotocol.org:3478: failed to create STUN client`

We should let people know why this message happened and whether it can be ig

[2019-04-13 23:45] Sean-Der commented on #21
Hey @kixelated

I don't think this is possible anymore, BindRequests are filtered via MessageIntegrity (so if the attacker doesn't know the pwd we are safe)

[2019-04-14 08:22] #19 closed

[2019-04-15 19:38] kixelated commented on #21
Nope, not safe. The attacker in this case will set up a PeerConnection using it's own credentials. It can set up ICE/DTLS/SRTP everything. Except it will suddenly claim to have a different IP address by forging the UDP return address header. This tricks the server to take the attacker's legitimate PeerConnection and redirect it elsewhere.

For example, if Pions gets a STUN binding request that cla

[2019-04-15 19:49] Sean-Der commented on #21
`if Pions gets a STUN binding request that claims to be sent from google.com:80`

How? Binding requests are discarded unless you know the uPwd

[2019-04-15 20:10] Sean-Der commented on #21
Talked to @kixelated on Slack I understand the issue now.

----

We have to check TransactionIDs and we MUST require success responses from peers. Otherwise a candidate could give us invalid prflx candidates (and we would start sending traffic to 3rd parties unexpectedly)

[2019-04-15 22:37] #20 closed

[2019-04-17 17:03] #21 closed

[2019-04-24 20:56] Sean-Der opened #28 "Implement regular nomination"
We need to stop using aggressive nomination.

If we have multiple pairs this can cause us to have different choices on each side (since the last pair with `use-candidate` is chosen.

Right now we just send every pair a 'USE-CANDIDATE' this means that each side may choose different candidates, all depending on when packets arrive.

Also then if you choose different candidates they will eventually d

[2019-04-29 04:52] Sean-Der commented on #28
@backkem @enobufs @hugoArregui

Does this sound right ^ with this I am not sure how aggressive nomination every properly works. It seems very easy for pairs to flake if you have multiple.

[2019-04-29 05:21] enobufs commented on #28
@Sean-Der It Sounds right to me! (poorly implemented agent may get confused or trigger a bug if it sees nominated candidate changing so frequently...)

[2019-04-29 11:10] hugoArregui commented on #28
It sounds right to me too!

[2019-04-30 19:42] enobufs opened #35 "ICE connection state stuck at 'checking' forever"
## Summary
When there's no connectivity between two endpoints, both ends keep sending pings forever (never fails).

## Motivation
This forces a developer to implement application-level timeout.

## Describe alternatives you've considered
(see Motivation)

## Additional context
RFC 5389 section 7.2.1.  Sending over UDP
[code]

[2019-05-02 17:32] #28 closed

[2019-05-05 17:50] hugoArregui commented on #35
Although I agree we should set the status to failed once we reach a situation as the one described by the spec, I already have twoapplication-level timeouts (well, actually one of them is a timeout):

- I have a timeout for connections in checking state, similar to the one you are describing here, but because there may be a problem with signaling, so for exampe if you are waiting for an answer, an

[2019-05-07 14:59] masterada opened #39 "Add tests to agent to assert state updates are working properly"
It seems like agent.OnConnectionStateChange doesn't fire properly in all cases (at least for closed state). Add tests for this, and fix any issues related to it.

[2019-05-09 04:46] enobufs commented on #35
I'd agree with you much from the users' perspective and would implement own timers.

Here are my thoughts in bullet points:
* RFC says set candidate pair to fail when binding request timeouts.
* Many connection-oriented protocols such as TCP / SCTP has connection timeout.
* When candidate priority control becomes important, the timeout of each candidate pair would seem to become necessary. (if it

[2019-05-09 15:45] #39 closed

[2019-05-09 17:33] enobufs commented on #12
Looks like I do not see this any more. Closing it.

[2019-05-09 17:33] #12 closed

[2019-05-23 20:11] Sean-Der opened #47 "Implement TURN"
This is a covering ticket for all the things we need to do.

### `pion/webrtc`
* [x] Pass TURN configuration from `pion/webrtc` to `pion/ice`
* [x] Add support for `ICETransportPolicy` so we can force TURN

---

### `pion/ice`
* [x] TURN MVP. Add basic TURN support via `pion/turnc`
* [x] Update checklist/nomination logic so TURN is last (currently we just take first success)
* [ ] Add TURN server

[2019-05-23 21:01] hugoArregui commented on #47
#42 may already solve the 3rd point

[2019-05-25 00:30] enobufs opened #49 "TestTimeout fails on mac"
@hugoArregui told me this has been failing on mac. It is failing on my mac.
Now I understand what is going on and I believe it is a bug in the test.
The fix is incoming.

### Your environment.
  - Version: 14ec8
  - Browser: n/a

### What did you do?
Run unitest on mac with:
[code]

### What did you expect?
The test to pass.

### What happened?
[code]

[2019-05-25 00:40] enobufs commented on #49
The cause.

The is checking two things.
1. Timeout should not occur before the given timeout
1. Timeout should occur after the given timeout

The first one is failing.

The test checks the connection state every 100 msec. Each time it registers a task to retrieve the connection state after sleeping on the 100 msec timer. When it detect the state change, it compares cnt (time.Duration) assuming tha

[2019-05-25 01:41] #49 closed

[2019-05-25 05:17] trivigy opened #51 "Slowdown because of server reflexive address allocation"
### What happened?
Between v0.2.7 and v0.2.8 there was a change in the way server reflexive addresses are allocated. Rather than collecting only one (default) address, the gathering process now actually goes through all of the local interfaces which takes a significant load time.

Here is the part that causes this:
https://github.com/pion/ice/blob/v0.2.8/gather.go#L131

### Proposal
Create an asyn

[2019-05-25 05:17] trivigy commented on #51
@masterada You made the original change so I am just tagging you here to make sure you are aware of the fix proposal. In case you have ideas or opinions. I would love to take in as much information as possible.

[2019-05-25 07:12] masterada commented on #51
Thanks. Currently i think we collect reflexive candidates sequentially, meaning if 10 interfaces time out that's 30 sec total. Instead we should do that parallel so we can bring that time down to 3 sec. I think we should wait for all candidates though, because waiting for the first only might break some setup. Whats worse, it might result in some setups occasionally not working (if 1 interface wor

[2019-05-25 07:18] trivigy commented on #51
@masterada I would prefer if we maybe work towards trickle?! I am doing "get default and continue, the rest collect in goroutine" right now. Maybe we could merge that and then hook up some kind of callback to get the trickle notify the OnIceCandidate?!

[2019-05-25 07:42] masterada commented on #51
Wihout trickle gathering the rest of server reflexive candidates is useless, as server reflexive candidates are ignored as local candidates when creating the checklist. They are only used by the other peer as its remote candidates, but only if he gets them (aka trickle). Once trickle is implemented there will be no point is handling default interface specially.

So if you want a quick fix i think

[2019-05-25 07:45] trivigy commented on #51
With trickle, is the peerConnection responsible for notifying the remote peer or all we have to make sure is that OnIceCandidate is invoked every time there is a new candidate and nil when the gathering is complete?

[2019-05-25 07:55] masterada commented on #51
- OnIceCandidate must be called when new candidate is discovered
- there must be a method for adding new remote candidates (not sure of the method name)
- there should be an option for disabling trickle alltogether and waiting for all candidates

At least thats what i remember, but will have to read some more to be sure.

[2019-05-25 07:57] masterada commented on #51
sending the candidates between the peers must be solved by the user (via signaling)

[2019-05-25 08:05] trivigy commented on #51
Okay. Thank you for your help. I will mess around with this tomorrow and try to get all three parts working.

[2019-05-25 17:39] Sean-Der commented on #51
@masterada sleeping on this one thought.

Is it worth sending a request if we know it isn't route-able? I think in the 'worst case' we are using a bunch of interfaces that don't have a gateway (so just blocking for nothing)

Trickle ICE is awesome though! I assume it is going to take us some time, I can't do anything but TURN for the next few days (user has a June 1st deadline)

but thank you for

[2019-05-25 17:52] trivigy commented on #51
@Sean-Der would you be okay with getting trickle in with a default flag as false. This way, for the next forseeable whatever, It will solve my issue because I will set the trickle flag to on but will not influence any other users. I will make the false flag cause the operation to work sync as it does now. Will just add the custom flag inside of the `api` object.

[2019-05-25 19:21] masterada commented on #51
The whole point of ice is not to make such assumptions. For example, an aws ec2 instance may have tens of network interfaces, and even though usually the primary interface is the one facing the internet, there is no guarantee for that. You can for example add an elastic ip address to it which is not the default interface, or you may want your pion server to work inside a lan with a non-default int

[2019-05-25 19:32] trivigy commented on #51
@masterada I am almost done with trickle. With complete asynchronous gathering. I am just fixing up the existing unittests to "wait" until gathering is complete to pass connection establishment. Let me make a PR in a few and we can go from there.

[2019-05-27 08:23] #51 closed

[2019-05-28 17:42] Sean-Der commented on #47
@hugoArregui I am going to work on getting TURN/STUN tested in travis-ci. This is probably going to take me 2-3 days.

Would you be up for getting your checklist stuff re-merged? Sorry for all the breakage, I would love to work together closely and get both your changes in.

[2019-05-28 17:44] Sean-Der commented on #47
@enobufs Any other next steps you can think of?  I feel pretty good about where we are at TURN wise!

[2019-05-28 18:00] enobufs commented on #47
@Sean-Der @ernado @hugoArregui MANY Thanks to all of you for making this happen! I am sure many pion users will be very happy about the TURN support! I will be updating my app and test the new feature. My time this week is very limited because I have to move into my new apartment this weekend tho, I should be able to get some feedback in the week of June 2)

I guess the next step is to further imp

[2019-05-28 18:13] hugoArregui commented on #47
@Sean-Der sure! Let's ensure we are on the same page regarding the implementation though, the thing about the heuristic I wrote in the PR is now we have trickle.. so I'm not sure if it holds.. maybe I can add a "mininumCheckWait" (sorry, awful name) to wait a bit for candidates?

[2019-05-29 06:25] trivigy opened #55 "Improve gathering process with parallelization"
This is just to track the work related to making the gathering process completely parallel in order to improve the gathering speed.

[2019-05-29 07:41] #55 closed

[2019-05-30 00:21] Sean-Der opened #58 "Make srflx gathering configurable"
@masterada @trivigy

We need to make `srflx` gathering only do the 'default' interface by default I think.

While not spec-compliant I have gotten feedback from multiple people about speed regressions. This wouldn't be a problem if we had Trickle ICE from day one, but lots of people have setup their signaling already.

I say we make configurable, and maybe when we do `/v3` we can roll back to the

[2019-05-30 01:13] trivigy commented on #58
I propose to introduce a `DefaultOnly` policy and `FullSrflx` policy. Don't care about the naming. This way it will also allow us to continue testing and improving the speed of complete server reflexive gathering while there is a standard default-only functionality to address speed issues for the immediate future.

[2019-05-30 06:23] masterada commented on #58
Is this still an issue after https://github.com/pion/ice/pull/56?

Or maybe gather only the default if trickle is false - if some needs all, they should implement trickle (one less config to deprecate in v3 :) )

[2019-05-30 06:31] trivigy commented on #58
@masterada it is still a significant issue on my end. I cannot run any of my unittests because of how long it takes to establish each connection. My p2p library has a significant churn of establishing and dropping connections. This `collect all` really impacts it, especially since due to BUNDLE really only the primary candidates ends up being used anyway.

[2019-05-30 06:47] masterada commented on #58
@trivigy What does slow mean? Is it over 5 seconds? How fast do we want this? Asking because if its over 5 seconds there should still be something slowing it down. If its 5 seconds maybe we can decrease the timeout to 2/3 seconds in https://github.com/pion/ice/blob/a58a281d3a851399f491db2f8815917ea6f46d68/gather.go#L233

Or we could also use different timeout for trickle/non-trickle. Im not agains

[2019-05-30 07:02] trivigy commented on #58
@masterada I am with you on making sure to address everyone's concerns. That is why my proposal was to simply add a special type policy. In general I don't have the same issue with chromium which does trickle. I should spend the time and fine the code in the chromium source to see exactly what they are doing but it is much much faster than pion.

In terms of speed, and since I made the it parallel

[2019-05-30 07:20] masterada commented on #58
I see, thanks for the details. That really is a big difference :)

For the tests i suggest you check out these (it wont help in general, but might help you)
vnet: https://github.com/pion/transport/issues/13
dummy stun server: (need to find the link, writing from mobile :D )

[2019-05-31 12:46] orai-arturo opened #59 "Ice error message for invalid transaction ID prints junk"
Running against master

ice ERROR: 2019/05/31 12:44:31 discard message from (relay ... related ...), invalid TransactionID ؛������+�

[2019-06-01 07:54] #35 closed

[2019-06-01 08:20] Sean-Der opened #60 "Add dedicated checkList unit tests"
@hugoArregui

This might not be needed, but would be nice to add some basic tests for this (`n` time should select this pair etc...)

Just a few checks to make sure we don't take `relay` when we have good `host` candidates etc..

[2019-06-01 15:52] hugoArregui commented on #60
Yes, I agree it will be nice to add some test, however in regards to `make sure we don't take relay when we have good host candidates` that's probably covered, since we only that the best candidate available, no matter the case. Which means we probable need to test the srflx wait time by rejecting host candidates (for example), it seems to me we could use vnet for this.

[2019-06-04 06:08] Sean-Der commented on #59
@ernado mind checking this out when you get a chance? thanks!

[2019-06-04 15:40] #59 closed

[2019-06-05 20:52] #58 closed

[2019-06-06 21:03] Sean-Der opened #63 "Race when creating Srflx candidates can cause invalid state"
When we create srflx candidate we

* Create a dialer
* Close the dialer
* Listen on the same port as the dialer

In the time between closing the dialer/listening there is a short time where another application could take that port. This has already been seen by one user, we might not be able to use this pattern unfortunately.

[2019-06-06 22:34] #63 closed

[2019-06-07 06:24] enobufs opened #65 "ICE Connection with relay candidates using coTURN failed"
### Your environment.
  - Version: pion/webrtc@v2.0.19
  - Browser: n/a
  - Other Information - *stacktraces, related issues, suggestions how to fix, links for us to have context*

### What did you do?
* Attempted to establish one datachannel between two nodes using coTURN (relay)
* I have set ICETransportPolicy to webrtc.ICETransportPolicyRelay (assuming, it uses relay candidate only)
* coTURN ve

[2019-06-07 18:09] trivigy opened #67 "Convert a.run() to a proper synchronization system"
## Summary
There is a real contention point with how the current synchronization is implemented. `a.run()` creates a single worker queue in order to do "pseudo locking" and to synchronize execution inside of the ice library. Unfortunately this is a really challenging design and creates a lot of issues. E.g. Bad perf benchmark, pool locking capabilities.

It would be nice to change this to improve

[2019-06-08 03:42] #47 closed

[2019-06-08 06:56] enobufs commented on #65
I have updated the above logs (correctly showing TRACE level logs).

With the `-V` option with turnserver, I can see:
[code]
This must be the "Send Indication" request received on port 3478.  The log says "processed, success", but the remote end does not see the packet.

@Sean-Der, now, I have two questions:

1. If the allocate port on the SAME coTURN server running on EC2 can can communicate with

[2019-06-08 07:04] Sean-Der commented on #65
1.) That makes sense to me, but I think that is something that will need to be solved on the coTURN side. I don't think WebRTC clients can do anything to influence this behavior (not for sure though)

2.) https://www.w3.org/TR/webrtc/#rtcicetransportpolicy-enum

`ICETransportPolicyRelay` effects the local gathering, so the only candidates that will exist locally are relay. The remote is still free

[2019-06-08 07:07] enobufs commented on #65
Right, (1) is totally server side issue. Specifically, AWS's NAT issue.  If hairpin routing is not possible, then we have to make sure both ends use different relay servers, I believe.

[2019-06-08 08:29] enobufs commented on #65
@Sean-Der I was able to run coTURN on my local PC. Data channel connection was successfully established using ICETransportPolicyRelay!

But...  answerer side does not seem to receive data (dc.OnMessage does not seem to be called) although the handshake at SCTP level and below succeeded.

If I turn off ICETransportPolicyRelay option, echo comes back.  It does not really make sense to me but do you

[2019-06-08 19:08] Sean-Der commented on #65
@enobufs nice!

That is really strange, I was unable to reproduce it unfortunately :( I patched pion-to-pion like [this](https://gist.github.com/Sean-Der/0b341f505e4090ff87e24b7c2315e4ec)

If you do a tcpdump do you see the messages coming through?

[2019-06-08 23:57] orai-arturo opened #69 "CreatePermission error"
### Your environment.
  - Version: 2.0.17
  - Browser: custom app, no browser

### What did you do?
Connecting through twilio TURN server with credentials.

### What did you expect?
No errors.

### What happened?
We receive a bunch of these error messages.  Like, dozens.
Failed to create TURN permission unexpected error response: CreatePermission error response (error 403: Forbidden IP)
Failed to

[2019-06-09 18:53] enobufs commented on #65
@Sean-Der
* pion-to-pion example works with local coturn
* pion-to-pion example also fails with cotrun on EC2 (definitely a server side issue)

Open issue:
* Why my test's OnMessage() did not get called when ICETransportPolicyRelay is used
* Issue with coturn on EC2 (non-pion issue)

[2019-06-09 22:57] enobufs commented on #65
@Sean-Der quick question...  could you tell me why we have two a=candidate lines with the same transport address?
[code]

[2019-06-09 23:10] enobufs commented on #65
I am still searching for reasons why my test does not receive application data via a datachannel.  I added the printfs around `a.netConn.Read(buffer)` in the sctp association.go.

In my test, both ends' ice conn state go to "connected", then it successfully finishes DCEP handshake. But after that, the Read() method never returns although sending side is sending data to the data channel  (OnMessage

[2019-06-10 00:42] Sean-Der commented on #65
I fixed a bug last night in master where DTLS/SCTP would improperly stop. Might be relevant?

Is ICE getting the incoming data? The readLoop for that is in candidate_base.go

I will setup coturn on AWS tonight and start debugging! I am doing errands today sorry

[2019-06-10 00:55] enobufs commented on #65
@Sean-Der I think that is not related. I found something interesting.

When the data channel message is greater than 888 bytes, the remote does not receive it.  I am still not sure whether that is dropped by turnc or coturn. I modified the pion-to-pion example to send the text longer than 888, and that problem happens.

[2019-06-10 01:21] enobufs commented on #65
Looking at wireshark, a 1000-byte message is transmitted to coTurn as a "Send Indication" packet (which contains 1065 bytes of DATA), then it returns "Data Indication" packet (which includes the identical DATA) to the remote candidate. So, coTURN is routing the large data. But I do not see any log indicating reciving the data on the receiving end...

[2019-06-10 08:21] Sean-Der commented on #65
We fixed the issue of small MTU when using TURN with https://github.com/pion/ice/commit/b28205a1f117bd758f543a4baebc7eb069d69d71

@enobufs any other researching/fixing we should do? Or good to close

[2019-06-10 08:31] enobufs commented on #65
Good to close! Let me close...

[2019-06-10 08:31] #65 closed

[2019-06-25 08:27] Sean-Der commented on #27
@enobufs you ok with me closing this as a `dupe` of your vnet work? I think everything will be covered when that rolls out.

We can simulate all NAT types between peers (and that we get the expected behavior) so I think that covers everything!

[2019-06-25 23:41] enobufs commented on #27
Yes, I'd agree. Let me close this issue.
Related: pion/webrtc#712

[2019-06-25 23:41] #27 closed

[2019-06-27 12:14] hugoArregui opened #75 "TestMulticastDNSOnlyConnection frequently timeout in travis"
[code]

I tried increasing the timeout to 1 minute but it didn't help

[2019-07-07 11:18] enobufs opened #76 "Share one UDP socket with all UDP candidates"
### Your environment.
  - Version: v0.4.3
  - Browser: n/a

### What did you do?
During the work of #46, I noticed that a UDP socket was created for each 3 types of initial candidates, host, srflx and relay.

### What did you expect?
Each candidate should share the base UDP socket (used for host candidate)

Current socket allocation:
[code]
25 candidate pairs (or pings per period)

Ideal socket al

[2019-07-08 07:45] enobufs commented on #76
Incoming packages should be demux/parsed like this:

<img width="442" alt="Screen Shot 2019-07-08 at 12 43 56 AM" src="https://user-images.githubusercontent.com/930777/60791912-83dc0680-a119-11e9-8c98-9f10ab67c42d.png">

[2019-07-08 19:11] enobufs commented on #76
In order to make this possible, we will need to modify pion/stun and pion/turnc to use  net.UDPConn which is not bound to a specific remote address, meaning, we should use net.ListenPacket(or net.ListenUDP). **NOT net.DialUDP**

Here's [a demo](https://play.golang.org/p/Tzlat1yOoZa)

[2019-07-09 16:11] Sean-Der commented on #75
I think the only way to remove the flakiness of this test is using `vnet` :/

I haven't spent much time debugging, but I guess it is common for VPSes to not have multicast enabled. So we might be getting a server every once in a while without it. There could also be a bug! That wouldn't surprise me either.

[2019-07-09 16:38] hugoArregui commented on #75
maybe we can move the test to its own file and add a build tag. And then we would only enable the tag if multicast is enabled for the interface?

[2019-07-09 16:42] Sean-Der commented on #75
@hugoArregui oh that is a fantastic idea!

We can just have a quick pre-amble that tests if multicast works, if that fails we just skip the test!

I will take care of writing that up, really cool idea.

[2019-07-15 06:59] enobufs commented on #76
The new TURN Client (in pion/turn) is almost ready. (see pion/turn#75).

The new client will allow achieving what this PR is aiming for, but let's do it after pion/webrtc#712 successfully lands.

Here's what we need to do...
Since currently, all Candidate (concrete) classes share the parent (or embedded in a go's sense) struct, `candidateBase` which invokes a read-loop (goroutine) on start() - thi

[2019-07-16 20:30] maxhawkins opened #80 "segfault in agent.ok()"
### Your environment.
  - Version: v0.5.1
  - OS: macOS

### What did you do?
I am running a load test that opens a large number of peer connections concurrently, exchanges SDPs between them, and then closes them.

### What happened?

After around 40 tests, pion logged
[code]

A few seconds later it segfaulted:
[code]

[2019-07-16 22:54] enobufs commented on #80
Would this happen with pion/ice@v0.4.3?

[2019-07-17 04:57] enobufs commented on #80
This one says, *Aget is being nil.
[code]

which is here:
[code]

I can not find in pion/ice a code that sets the agent to nil.
I believe an upper layer is calling a nil agent... (just my guess)

[2019-07-17 07:34] enobufs commented on #80
No sure if related but I have just saw a [CI build error](https://travis-ci.org/pion/ice/builds/559826609).

I will look into this.

[code]

[2019-07-17 09:08] enobufs commented on #80
Build error I saw was caused by a bug in the new pion/ice. Once it passes the review, I will tag it as v0.5.2.  Hopefully, you could try it again!

[2019-07-17 17:01] enobufs opened #82 "Selected pair is not accurate"
Tested with v0.5.2

One of the tests below revealed that the selected pair (one of the two endpoints) sets does not seem to be correct:

Run.
[code]

One end reports correctly:
[code]

But the other end says:
[code]

Local `host` candidate is not the one succeeded. It should be prflx candidate.

This is probably due to the fact that the ice agent is not checking the mapped-address of received STUN

[2019-07-18 17:11] #75 closed

[2019-08-30 17:26] enobufs commented on #76
At this point, we will have a proper STUN transaction (and with retransmits) with STUN server, as well as connectivity checking all done by the new turn.Client.

[2019-09-02 13:19] seppo0010 opened #96 "Implement ICE Lite controlling agent"
ICE Lite may be controlling when the other agent also implements ICE Lite. This is a very uncommon case. See See RFC 8445 S6.1.1 and S6.2.

[2019-09-15 22:41] lrezek opened #102 "gatherCandidatesRelay can leak sockets"
### Your environment.
  - Version: 0.5.13

### What did you do?
When gathering relay candidates with invalid credentials, a socket remains open after the peer is closed. This can be checked with `lsof` on a linux system.

### What did you expect?
That all open sockets would be closed when the peer is closed.

### What happened?
A socket remained open.

### Debugging Notes
I've narrowed down this i

[2019-09-16 01:29] Sean-Der commented on #102
Oh fantastic catch!

This looks like an issue with other candidates as well :( probably much harder to reproduce with other types though.

Would you be up for creating a PR? I love having people involved, the more eyes we get on the code the better :) I know this code much better, so I can help land this quickly!

I would just do something like the following. Feel free to aggressively rewrite code

[2019-09-25 03:29] wuchihsu opened #104 "candidate_base.go segmentation violation"
### Your environment.
  - Version: 0.5.7
  - OS: Ubuntu

### What did you do?
I run WebRTC NewPeerConnection with Trickle ICE. It can connect successfully most of the time but rarely it panic. Is it possible to add recover in func (a *Agent) taskLoop().

### What happened?
[code]

[2019-09-25 03:32] hugoArregui commented on #104
Hi @wuchihsu, do you mind trying with latest webrtc version (ideally from master)?

[2019-09-25 05:45] Sean-Der commented on #104
Hey @wuchihsu

I *believe* this is the issue, and should be fixed in the latest! https://github.com/pion/ice/commit/358dc33274d2427d17292e82a58bac1b75408963

The issue is that we added candidates before we started them (so they had nil sockets when trying to write to them)

[2019-09-25 06:21] wuchihsu commented on #104
OK, thanks! @hugoArregui @Sean-Der I will try latest version.

[2019-09-25 06:21] #104 closed

[2019-09-27 15:17] jjmaldonis opened #190 "Implement restartIce functionality?"
## Summary

Are you planning to support the `ICERestart` feature? It's available as an option in the [`OfferOptions` struct](https://github.com/pion/webrtc/blob/master/offeransweroptions.go#L22), but options are [not allowed](https://github.com/pion/webrtc/blob/master/peerconnection.go#L383) as a parameter to `PeerConnection.CreateOffer`.

## Motivation

Currently the only way to reconnect to a We

[2019-09-29 08:37] yuanchao0310 opened #107 "use random port when gather local udp port"
## Summary

use random port when gather local udp port

## Motivation
listenUDP() loop from minPort to maxPort,  it will loop many times if there are many connection already existed.
Start loop from a random port will  more effective.

## Describe alternatives you've considered

A clear and concise description of the alternative solutions you've considered.

## Additional context

https://github.c

[2019-09-29 10:34] yuanchao0310 commented on #107
portStart := rand.Intn(j-i+1) + i
	portCurrent := portStart
	a.log.Errorf("start from %d", portCurrent)
	for {
		laddr = &net.UDPAddr{IP: laddr.IP, Port: portCurrent}
		c, e := a.net.ListenUDP(network, laddr)
		if e == nil {
			return c, e
		}
		a.log.Debugf("failed to listen %s: %v", laddr.String(), e)
		portCurrent++
		if portCurrent > j {
			portCurrent = i
		}
		if portCurrent == portStart {

[2019-10-02 07:23] #107 closed

[2019-10-02 07:24] Sean-Der commented on #107
@yuanchao0310

Would it be useful if we released a new tag of `pion/webrtc` using the updated ICE?

Thanks again for contributing this improvement :)

[2019-10-14 16:36] Sean-Der opened #118 "Gather TURN/STUN candidates async"
Currently we gather them one at a time.

However if one TURN server is slow it can block gathering all the other ones.

@AeroNotix can offer more details/has context also

[2019-10-15 07:31] renovate[bot] opened #120 "Action Required: Fix Renovate Configuration"
There is an error with this repository's Renovate configuration that needs to be fixed. As a precaution, Renovate will stop PRs until it is resolved.

Error type: undefined. Note: this is a *nested* preset so please contact the preset author if you are unable to fix it yourself.

[2019-10-16 04:23] Sean-Der opened #122 "Don't set static length for binding transactions, use lifetime limit instead"
Currently we have a hard limit of 50, this will fall down if users has more local/remote candidates then we expect.

Instead follow the RFC and do `RTT * 2` or `500 Ms` https://tools.ietf.org/html/rfc8445#appendix-B.1

[code]

[2019-10-16 05:02] #122 closed

[2019-11-24 10:09] adwpc opened #128 "reduce `candidateBase.writeTo` cpu cost"
## Summary

![image](https://user-images.githubusercontent.com/12995347/69493025-b7f76e80-0ee4-11ea-8062-33fb0af15937.png)

## Motivation
reduce `candidateBase.writeTo` cpu cost

## Describe alternatives you've considered

Maybe we can use bufio  in `candidateBase.writeTo`, like:
https://github.com/grpc/grpc-go/pull/1544/commits/30d8f0749874c54017578cf0760e18c01d27a3a2

## Additional context

[2020-01-06 17:56] Sean-Der opened #133 "Handle `turns` URLS"
Currently we only do UDP+TCP. We need to add DTLS and TLS

[2020-01-06 20:05] backkem opened #152 "ICE username mismatch"
Looks like there may be an issue with ICE username. I get an ICE warning indicating the username is concatenated with another string:
[code]

May be a clue: The particular test starts 50 parallel peer connections. Not sure if this use-case is covered by the Pion test-suite.

### Your environment.
  - Version: 726a16faa60dccdc8c00df8e1ae6426bf5b3bd05
  - Browser: N/A
  - OS: Windows

### What did y

[2020-01-13 12:09] at-wat opened #143 "TestRelayOnlyConnection timeout"
Running on Ubuntu bionic causes:
[code]

The cause might be same as https://github.com/pion/transport/issues/51.

[2020-01-15 07:58] at-wat commented on #143
#144

[2020-01-15 07:58] #143 closed

[2020-01-25 01:11] at-wat opened #149 "Some tests cause timeout on CI"
## TestConnectivityLite
environment: CI: Test i386 1.13
[code]

## TestRelayOnlyConnection
environment: CI: Test i386 1.13
[code]

[2020-01-25 01:18] at-wat opened #150 "panic: send on closed channel in TestConnectivityVNet/Symmetric_NATs_on_both_ends"
environment: CI: Test i386 1.13

It randomly fails on CI environment.
[code]

[2020-01-26 03:07] at-wat commented on #150
Reproduced also on local environment in rare case. (`-count=100`)

https://github.com/pion/ice/pull/151 seems suppressing it? (no idea why, but no error with `-count=100`)

[2020-01-26 04:47] at-wat commented on #149
It can be reproduced locally by running a few hundred times.

[2020-01-30 06:59] #150 closed

[2020-02-13 09:22] adwpc commented on #128
https://github.com/xtaci/kcp-go/blob/9f0f2bc5547c9ae7943d1a729f382494e4a2fd65/tx_linux.go#L25
Maybe good solution!
https://github.com/golang/net/blob/master/ipv4/batch.go#L108
call
https://github.com/golang/net/blob/master/internal/socket/sys_linux.go#L24:6
http://man7.org/linux/man-pages/man2/sendmmsg.2.html

[2020-02-18 14:21] khaldounaldanafcbs opened #157 "Using coTurn TCP allocations with DataChannel webRTC client"
I have configured a coturn server which I need to use with DataChannel for a chat app.

I am trying to reach a point where I can get the coturn server provide me with a tcp allocation.

I am using the standard call of RTCPeerConnection in JS client, providing the turn URI, username and credentials.

The transport I am providing in the URI params is TCP ?transport=tcp.

With all this, I am always r

[2020-02-20 13:18] #157 closed

[2020-02-22 07:05] Sean-Der commented on #152
@backkem closing for now, but please re-open if you disagree! We can add more log messages, but might make the code less terse.

[2020-02-24 06:05] #118 closed

[2020-02-24 06:05] #102 closed

[2020-02-25 05:25] #133 closed

[2020-02-25 19:08] #149 closed

[2020-02-27 06:05] Sean-Der commented on #2
[cpu.pprof.tar.gz](https://github.com/pion/ice/files/4259724/cpu.pprof.tar.gz)

Here is a profile confirming. Most of our time is spend in `sendto` but that is another battle :)

[2020-03-02 04:36] Sean-Der commented on #2
I have cleaned this up a bit, and now `pion/ice` isn't in the top 25. I am not going to work on this further.

I didn't end up removing `.run`, it is more then simple mutual exclusion it also allows cancellation of queued locks. I tried replacing things with a simple mutex, but ended up being more messy then I thought it would be.

For the cases where we want to return values from `.run` I have up

[2020-03-02 04:36] #2 closed

[2020-03-02 04:36] Sean-Der commented on #67
I have cleaned this up a bit, and now `pion/ice` isn't in the top 25. I am not going to work on this further.

I didn't end up removing `.run`, it is more then simple mutual exclusion it also allows cancellation of queued locks. I tried replacing things with a simple mutex, but ended up being more messy then I thought it would be.

For the cases where we want to return values from `.run` I have up

[2020-03-02 04:36] #67 closed

[2020-03-02 04:36] Sean-Der commented on #80
This seems to be an issue with the caller, closing.

[2020-03-02 04:36] #80 closed

[2020-03-03 16:30] adwpc commented on #128
I have tested `PacketConn.WriteBatch` in `pion/ice` package, it reduce 30%~40% cpu in `pion/ion`
https://godoc.org/golang.org/x/net/ipv4#PacketConn.WriteBatch

This `conn.WriteTo` conn is from here?
https://github.com/pion/ice/blob/master/candidate_base.go#L152
https://github.com/pion/ice/blob/master/gather.go#L138
https://github.com/pion/transport/blob/master/vnet/net.go#L555

My question is wher

[2020-03-03 19:58] Sean-Der commented on #128
:fire: that's amazing! Yes we need to do this @adwpc

I will take it. I also have benchmarks I am running will post results before/after.

[2020-03-04 03:27] adwpc commented on #128
@Sean-Der
I can make a PR to `pion/ice` if you need as a reference,  should save your precious time :)

[2020-03-09 19:37] backkem commented on #152
This still persists. CI run with logging: https://travis-ci.org/libp2p/go-libp2p-webrtc-direct/builds/660314127. Seems like this may also be related to https://github.com/pion/webrtc/issues/651#issuecomment-487831188.

Sadly I don't have the bandwidth to dive deeper ATM.

[2020-03-09 21:49] Sean-Der commented on #152
https://github.com/pion/ice/issues/152#issuecomment-579643129 what do you think of this comment earlier?

I can add a log message, but I would expect this to happen. During signaling one side has candidates + remote creds (and doesn't know if the other side is ready yet)

[2020-03-11 08:13] notedit commented on #128
I think  it is only work on linux

[code]

[2020-04-10 01:45] at-wat opened #171 "Unlock of unlocked RWMutex in TestConnectivityVNet/Symmetric_NATs_on_both_ends"
[code]

[2020-04-22 22:35] ChillerDragon opened #173 "Install instructions?"
Got this error when trying to build another project:
[code]

So I assumed it can be installed like:
[code]

[code]

[2020-04-22 22:45] Sean-Der commented on #173
Hey @ChillerDragon

You probably want `github.com/pion/webrtc/v2`, we added a new major version when we changed names from `pions` -> `pion`

[2020-04-22 22:48] ChillerDragon commented on #173
@Sean-Der thanks for the fast reply how do I install ``github.com/pion/webrtc/v2``?

sorry if this question is weird but I have no clue how go works

[code]

[2020-04-22 23:01] #173 closed

[2020-04-22 23:37] Sean-Der commented on #173
Glad to hear it worked @ChillerDragon

If you are up for it, would you mind updating the docs that you were following? I am sure lots of people are hitting this issue, and just don't file issues :(

thanks for using Pio!

[2020-04-23 00:57] ChillerDragon commented on #173
I sadly do not have any findings yet I just followed your awesome list to find something working because I could not understand the webrtc example :D I smashed In a bunch of go commands into my terminal until different things started to break. I was not too successful yet but we will see... looks like a nice project for sure!

[2020-04-28 15:13] lueurxax opened #177 "nil pointer dereference on error handling"
### Your environment.
  - Version: v0.7.12
[code]
### What did you do?
I think this is due to a listenUDPInPortRange return error, and conn is nil.
### What did you expect?

### What happened?

[2020-04-28 15:15] lueurxax commented on #177
I think it's right version of closeConnAndLog

[2020-04-28 15:18] #177 closed

[2020-05-03 01:48] anacrolix opened #182 "panic: send on closed channel in github.com/pion/ice.(*Agent).updateConnectionState"
[code]

I'm running a very active instance of https://github.com/anacrolix/confluence, which makes frequent and implicit use of several webtorrent trackers. There's probably 100s or 1000s of webrtc PeerConnections being opened and closed, so unless I'm using the API incorrectly, this is probably a very elusive race condition in pion code somewhere.

[2020-05-03 02:32] at-wat commented on #182
seems caused by `ContactCandidates()` called after `Agent.Close()`

[2020-05-03 02:57] at-wat commented on #182
@anacrolix I think #183 will fix this.

[2020-05-03 04:56] #182 closed

[2020-05-03 08:51] anacrolix commented on #182
Thanks!

[2020-05-21 19:03] Sean-Der opened #186 "On timeout we shouldn't clear the `selectedPair`"
I need to confirm, but [this](https://github.com/pion/ice/blob/master/agent.go#L758) looks wrong.

We shouldn't clear the candidate pair on disconnected, we should keep sending connectivity checks and trying to reconnect it.

[2020-05-21 19:05] Sean-Der opened #187 "Agent.Write should use best valid pair, not just selected."
In [section-4](https://tools.ietf.org/html/rfc8445#section-4) ICE RFC states

[code]

[2020-05-21 19:10] Sean-Der commented on #152
Hey @backkem sorry closing again :(

Happy to talk about this in Slack, but I am pretty sure this isn't an issue (we are just printing a message we didn't before)

[2020-05-21 19:10] #152 closed

[2020-05-22 21:32] Sean-Der opened #189 "Agent never goes to failed"
Implement going to failed, and closing the agent to match the browser's behavior.

[2020-05-23 05:35] #186 closed

[2020-05-23 05:35] #187 closed

[2020-06-07 17:01] Ambyjkl opened #196 "TCP Support?"
## Summary

https://github.com/pion/webrtc/blob/bd6c5cbc71fc401eac3cd158c97586a79f92d34e/networktype.go#L13

TCP is not yet supported.

## Motivation

Feature completeness and spec compliance.

[2020-06-09 18:01] Ambyjkl commented on #196
Hi Sean,
Thanks for the info, I'll definitely look into TURN, since that would really help users struggling with UDP. I won't call this a blocker yet, but it would still be great to have eventually. Keep up the good work :+1:

[2020-06-09 20:46] Sean-Der commented on #196
@Ambyjkl

100% agree. I need to get Simulcast done first, but after that I can implement this! I actually will not be that hard either (maybe a 3 days of work at most)

I would run a TURN server in the short term, and then have your users use it! It will act as a 'TCP to UDP proxy' so they can send/receive UDP traffic over TCP.

Thanks for using Pion, always excited to hear people are building stu

[2020-06-09 20:50] Sean-Der commented on #196
Also if you are interested in contributing would love to help you work on this (totally understand if not)

I am always looking to get more people involved :)

[2020-06-15 20:39] tomandersen opened #197 "Crasher in Pion when logging at DEBUG or TRACE level. ICE Candidate Pair String()"
### Your environment.
Version:
github.com/pion/rtp v1.5.5
github.com/pion/webrtc/v2 v2.2.15

Browser: N/A

Other Information -

### What did you do?
Turned on debug logging at the TRACE level.
ENV setting:
PION_LOG_TRACE=all

### What did you expect?
For the program to run as before, only with logging.

### What happened?
When the connection was shutdown by the remote side, the logger crashed Pion

[2020-06-21 08:06] #189 closed

[2020-06-23 00:01] Ambyjkl commented on #196
@Sean-Der

Sorry for the late reply, TURN is getting the job done for now, kinda. Users report poor experience when using TURN, which is a little strange as we are using pion just for the datachannel and there isn't a lot of data being sent over the wire, and the TURN server is running on the same instance. Initially, we used pion/turn but faced connection drop issues (will make an issue on github

[2020-06-24 22:06] Sean-Der commented on #196
@Ambyjkl I agree Native TCP would be a lot better!.You are paying a lot of extra costs with TURN (CPU and network)

If you are able to find someone to contribute that would be amazing! I think I could work on this in the next month or so though.

[2020-06-25 07:17] #190 closed

[2020-06-25 08:59] nerd2 opened #202 "go test failure on master (segmentation violation)"
### Your environment.
  - Version: 3b470331467299f1cb7d3b0b9a3955e396231521

### What did you do?

Ran `go test`

### What did you expect?

Test to pass

### What happened?

sam@samubuntu:~/Dev/pion/ice$ go test
panic: runtime error: invalid memory address or nil pointer dereference
[signal SIGSEGV: segmentation violation code=0x1 addr=0x20 pc=0x752230]

goroutine 91 [running]:
github.com/pion/ice

[2020-06-25 12:19] nerd2 commented on #202
I had a quick look into this but unfortunately dont have enough context to understand how it should work.

One example failure path (may be the only one) is transport_test.go::connect - where "gatherAndExchangeCandidates" runs before "Accept"/"Dial"

[2020-06-25 13:54] at-wat commented on #202
What version of Go and arch do you use? (`go version`)
The error log doesn't have information that which test failed. Could you try `go test -v`?

[2020-06-25 16:10] nerd2 commented on #202
It occurs with different tests, racily randomly

[code]

[2020-06-25 16:54] Sean-Der commented on #202
Oof maybe I introduced this. Are you able to pin this down to one commit @nerd2 ? I will work on reproducing.

[code]

I don't know any easy way to debug this from the log. Not a nil pointer, so I guess `a.selector` is invalid? But we set `a.selector` in a `a.run` so doesn't seem possible to have a racey read/write. @at-wat you are a better debugger then me :)

[2020-06-25 21:08] funvit opened #203 "Some tests fails on windows due generateRandString uses time.Now().UnixNano()"
### Your environment.
  - Version: v0.7.15
  - Browser: -

### What did you do?

  go test -run  ^TestLocalCandidateStats  ./...

### What did you expect?

test run ok

### What happened?

test fails with `invalid stats CandidateType`

---

After adding some more logging to test i'm found, that `generateRandString` generates same id for `hostLocal` and `srflxLocal`.

From stackoverflow post (#5728

[2020-06-25 21:17] Sean-Der commented on #203
@funvit fantastic catch! If you open a PR, I will work on getting Windows testers in. I did it https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/blob/master/.travis.yml#L170-L177 already

So this should be pretty close to what we want
[code]

[2020-06-25 22:47] at-wat opened #204 "Several tests fail by timeout"
## TestTimeout

timeout without error or panic

## TestConnectivityOnStartup

timeout without error or panic

## TestAgentRestart/Restart_*

[code]

## TestHandlePeerReflexive

[code]

## TestConnectionStateFailedDeleteAllCandidates

[code]

[2020-06-25 22:49] at-wat commented on #202
Hmm, i couldn't reproduce segmentation fault, but I got many timeout failures https://github.com/pion/ice/issues/204.

[2020-06-25 22:59] Sean-Der commented on #204
@at-wat I am not able to reproduce this yet on `go version go1.14.3 darwin/amd64`. Does this happen every time, I am running with `-count 50`.

I will run on my Linux Desktop + AWS instance tonight.

[code]

[2020-06-25 23:01] Sean-Der commented on #204
@at-wat for `TestConnectionStateFailedDeleteAllCandidates` can you try

* adjusting the `DisconnectedTimeout`, `FailedTimeout` and `taskLoopInterval`
* Can you share logs from `export PION_LOG_TRACE=ice`

[2020-06-25 23:20] at-wat commented on #204
On my environment, both

- i7-7Y75 laptop with `go version go1.14 linux/amd64` and
- EPYC 7351P workstation with `go version go1.14.4 linux/amd64`

cause these failures. Timeout happens once per a few runs.

[2020-06-25 23:24] at-wat commented on #202
I could reproduce it, but the timeout errors are quite frequent on my environment...

[2020-06-25 23:31] at-wat commented on #204
with trace

## TestConnectivityOnStartup

[code]

## TestAgentRestart/Restart_One_Side

<details>

[code]

</details>

[2020-06-25 23:33] at-wat commented on #204
Disabling docker service to remove virtual network interfaces seems suppressing these errors.

[2020-06-26 00:33] at-wat commented on #204
TestConnectivityOnStartup success case
[code]

failure case
[code]

[2020-06-26 01:23] at-wat commented on #202
With trace
[code]

[2020-06-26 01:26] at-wat commented on #204
It looks caused by goroutine start timing and `taskLoopInterval` is set to one hour in this test.

[2020-06-26 04:59] Sean-Der commented on #204
@at-wat Thanks for bringing stability to `pion/ice` on such short notice, sorry for breaking things :(

In general I would love to revisit the design of the `Agent`. When I started it things were so much simpler. Do you think it would be worth me typing up a short design doc, and we could plan on ways we could make it better?

I feel like the way we have done concurrency isn't very idiomatic Go. S

[2020-06-26 05:03] at-wat commented on #202
`a.selector` is initialized on calling `Dial()/Accept()`, but `candidateBase.recvLoop()` starts on `AddRemoteCandidate()` which is called before `Dial()/Accept()`.

[2020-06-26 07:51] funvit commented on #203
I wonder how to seed rand, due to comment in commit eab497aa25b8e4ebfc7f5830abd608fa31242a05:

Also rand with UnixNano found in `randSeq` method. Maybe full project check is needed?

[2020-06-26 11:38] at-wat opened #208 "Data race during TestTURNConcurrency"
Frequency is very low. (I've only seen once)
[code]

[2020-06-26 18:17] #202 closed

[2020-06-27 02:17] at-wat commented on #203
Basically, it's not preferred usage of pseudo random to set seed each time.
`rand.New(rand.NewSource(time.Now().UnixNano())).Read(b)`
This acts just like `f(time % (1<<31 -1))` where `f` is non-cryptographical mapping function.
Output of `generateRandString()` can represent 128bit (8x16) but this code outputs only [31bit](https://golang.org/pkg/math/rand/#Seed) of variation.

[2020-06-27 03:01] at-wat commented on #203
[code]
[code]
There are several potentially dangerous usages in examples.

[2020-06-27 05:19] at-wat commented on #203
Same problem may occur also on Linux.
Adding a test to reproduce it: https://github.com/pion/ice/pull/210/files#diff-b3c5c04e75ab552bbf256d8b63e42499R20-R51

[2020-06-27 11:37] at-wat commented on #204
TestAgentRestart still causes timeout.
[code]

[2020-06-28 19:43] #204 closed

[2020-06-30 01:47] at-wat opened #216 "Routine leak in TestSTUNTURNConcurrency"
[code]

[2020-06-30 01:49] Sean-Der commented on #216
Looks like that is in the `pion/turn` Client. I will look into that right after `ICE Restarts` land! I have seen races reported before, maybe with some `go test -count 100` I can get to the bottom of it :)

[2020-06-30 06:27] Sean-Der opened #217 "Race in gather.go"
Found in `pion/webrtc` test run

[code]

[2020-06-30 06:41] Sean-Der opened #218 "Channel double closed in `gather.go`"
[code]

[2020-06-30 09:52] nerd2 opened #219 "Test Fail: TestConnectivityVNet/Symmetric_NATs_on_both_ends - sync: Unlock of unlocked RWMutex"
On master bd57bd814c01ac0534724b2677fcc1d91d7cfb11

[code]

[2020-07-02 23:12] Sean-Der commented on #216
@at-wat I think I figured this out!

We are using a WaitGroup that can't respond to closing the `Agent`, after https://github.com/pion/ice/pull/224 lands I think I can get this fixed :)

[2020-07-04 06:06] #217 closed

[2020-07-04 06:06] #218 closed

[2020-07-05 07:53] at-wat commented on #216
It happens very often after #225

[2020-07-05 08:04] at-wat opened #229 "Data race during TestWriteUseValidPair"
[code]

[2020-07-05 08:10] at-wat commented on #229
seems be a problem in `transport.vnet`.

[2020-07-05 08:24] at-wat opened #230 "TestRemoteLocalAddr/Remote/Local_Pair_Match_between_Agents fails sometimes"
[code]

[2020-07-05 08:40] at-wat commented on #230
[code]

[2020-07-05 08:41] at-wat commented on #230
It seems fail if there is a docker network interface.

[2020-07-05 11:37] at-wat commented on #208
Seems be fixed by https://github.com/pion/turn/pull/128, but not yet released.

[2020-07-05 11:40] at-wat commented on #208
@Sean-Der I'm going to add a tag `pion/turn@v2.0.4`

[2020-07-05 12:28] #208 closed

[2020-07-05 13:18] at-wat commented on #216
@Sean-Der I found that turn connection was not closed when the agent is closed during gathering.

[2020-07-06 03:37] at-wat opened #236 "GatherCandidates routine may run in parallel"
Data race caused by this has been fixed by https://github.com/pion/ice/pull/224.

Old gathering routine should be stopped when new gathering routine starts, I think.
Otherwise, mixed gathered candidates will be notified.

[2020-07-06 03:46] at-wat commented on #236
Data race should be fixed by https://github.com/pion/ice/pull/224.

Old gathering routine should be stopped when new gathering routine starts, I think.

[2020-07-06 05:22] #229 closed

[2020-07-06 05:24] #230 closed

[2020-07-06 05:33] #236 closed

[2020-07-06 06:46] #219 closed

[2020-07-06 06:48] #216 closed

[2020-07-06 08:12] #171 closed

[2020-07-13 05:32] #203 closed

[2020-07-13 22:19] Sean-Der opened #242 "`candidateBase` conn member race condition"
From `pion/webrtc` test run

[code]

[2020-07-14 02:07] at-wat opened #243 "Backport bug fixes to v0 branch"

[2020-07-14 02:24] at-wat commented on #243
- Don't unset the selected pair on timeout #188
- Update module pion/stun to v0.3.5 #192
- Update golang.org/x/net commit hash to 627f964 #193
- Update module stretchr/testify to v1.6.1 #194
- Gather: fix closable crash again #195
- Update module pion/dtls/v2 to v2.0.1 #198
- Fix random generators #210
- Make Transport return addresses of the current pair #222
- Fix IPv6 addresses gathering #223
-

[2020-07-14 02:43] at-wat commented on #243
- Run TestRemoteLocalAddr in VNet #231
- Reduce iteration in TestRandomGeneratorCollision #232
- Fix flaky tests #207

[2020-07-14 02:44] at-wat commented on #243
tagging v0.7.16

[2020-07-14 02:45] at-wat commented on #243
- Update module pion/randutil to v0.1.0 #241

[2020-07-14 02:46] at-wat commented on #243
re-tagging v0.7.17

[2020-07-15 05:51] #196 closed

[2020-07-15 06:06] Sean-Der opened #245 "Continued TCP-ICE Improvements"
These are a list of all the things we can do to continue improving the `tcp-ice` implementation that landed.
* [ ] Move to `internal` (a small root package that isn't littered with protocol details is great)
* [ ] Take a `net.Listener` instead of having global state
* [ ] Expose a `net.PacketConn` based API, `Agent`
* [ ] Implement Active
* [ ] Implement simultaneous-open
* [ ] Explore if we can r

[2020-07-15 07:06] jeremija commented on #245
I think the spec is also pretty specific about some situations when the inbound connections need to be dropped. I think currently we'll accept any TCP connection with the right `ufrag`, but when receiving active (inbound) TCP connections, we should only accept the ones for which we already have candidates with the IP address (TCP port is irrelevant in this case because browsers will just set it to

[2020-07-16 13:51] mv-s1 opened #247 "Conn can be null in candidate_base.go"
There is no check for null value - c.conn can be null
https://github.com/pion/ice/blob/12f44e93f1857fba92a6ed07e2dc416ba2f8e3f6/candidate_base.go#L203

[signal SIGSEGV: segmentation violation code=0x1 addr=0x48 pc=0x12e19ce]

	/Users/mac/Dev/pkg/mod/github.com/pion/ice/v2@v2.0.0-rc.6/candidate_base.go:203 +0x4e

[2020-07-16 19:54] Sean-Der commented on #247
Thanks for the report @mv-s1 !

Did you hit this by doing an ICE Restart? If you have a reproduce or test I can work on fixing this.

thanks!

[2020-07-16 19:59] mv-s1 commented on #247
Yes, i hit this right after ICE Restarts.
I fix this by just adding "if c.conn != nil {" :)

[2020-07-16 20:11] Sean-Der commented on #247
@mv-s1 If you have a chance opening a PR would be really appreciated :)

I am worried this might be a race condition though, but tests will catch that for us!

thanks

[2020-07-17 02:51] #247 closed

[2020-07-17 02:51] Sean-Der commented on #247
@mv-s1 would you mind trying out master and see if it fixes your issue? If it does will tag a new release, thanks!

[2020-07-17 08:23] mv-s1 commented on #247
Everything is fine! Thanks!

[2020-07-18 06:24] jeremija opened #249 "Remove a check for ICEControlling when parsing first TCP STUN message"
### Your environment.
  - Version: v2.0.0-rc.6
  - Browser: Firefox

### What did you do?
The check for ICE controlling is most likely not necessary. I couldn't establish a TCP Peer Connection that was initiated by the server, with passive server candidate and an active browser candidate.

### What did you expect?
The connection should succeed.

### What happened?
The connection failed because of

[2020-07-19 06:30] #249 closed

[2020-07-20 05:00] Sean-Der opened #252 "ICE going to failed now causes untyped `use of closed network connection` error to be returned, breaks existing code"
Before `ice.Agent` never went to failed, so UDP sockets stayed open forever. Now because we close the sockets a user is getting `use of closed network connection` returned to them.

I feel like a user shouldn't have to worry about this, and should just have to watch `PeerConnectionState` and `ICEConnectionState`. During ICE Renegotiations I just wanted to keep sending packets, I don't want to worr

[2020-07-20 05:01] Sean-Der commented on #252
@at-wat @jeremija ^

[2020-07-20 06:41] jeremija commented on #252
Where is this error being returned from?

[2020-07-20 06:53] Sean-Der commented on #252
@jeremija [candidateBase.writeTo](https://github.com/pion/ice/blob/master/candidate_base.go#L212)

Before these sockets were only closed during `IceAgent.Close`

[2020-07-20 07:00] jeremija commented on #252
Thanks!

Not sure if this is related, but I wanted to point out that for ICE TCP we'll have to close the unused TCP connections if they are not selected:

[2020-07-20 07:29] at-wat commented on #252
I don't have strong opinion on it, but if we catch and discard the error, we should buffer and resend the message if datachannel is set to be reliable.

In any case, ice package should return an error which is parsable from the caller.
At least, it should be
[code]
to allow unwrapping.
But would be more nice to define error type to allow both type assertion and unwrapping:

[2020-07-21 05:25] jeremija opened #253 "Remove global state for ICE TCP"
Relates to #245.

[2020-07-26 06:40] enobufs opened #255 "ICE connection fails when RTT > 500 msec"
### Your environment.
  - Version: pion/ice v0.7.17 (pion/webrtc v2.2.21)
  - Browser: n/a

### What did you do?
Try to establish connection (the test app uses a data channel) between two nodes with large latency (using comcast)

### What did you expect?
The connection would establish successfully with RTT 500 msec or greater.

### What happened?
ICE connection fails with this line in the console

[2020-07-26 07:27] enobufs commented on #255
As I was looking at the code, I noticed that the current keep-alive interval is set to 2 seconds (if no traffic is present on the pair):
[code]

RFC 8445 says:
[code]

I believe we should set defaultKeepaliveInterval to 15 at least.

[2020-07-26 19:08] #255 closed

[2020-07-27 07:55] at-wat commented on #243
- Increate binding req timeout value #256

[2020-07-27 07:55] at-wat commented on #243
tagged v0.7.18

[2020-08-01 07:28] #253 closed

[2020-08-04 16:12] nerd2 opened #258 "Crash in sendStun"
### Your environment.
  - Version: v2.0.0-rc.4
  - Browser: Chrome  84.0.4147.105

### What did you do?
Closed and opened connections

### What did you expect?
Functional webrtc stream

### What happened?
Crash

[code]

[2020-08-04 16:17] Sean-Der commented on #258
I think this was fixed by https://github.com/pion/ice/issues/247

Not 100% sure though!

[2020-08-04 16:17] Sean-Der commented on #258
Are you able to easily reproduce?

[2020-08-04 16:33] nerd2 commented on #258
No, can't reproduce, but looks plausible. Thanks Sean, i'll close.

[2020-08-04 16:33] #258 closed

[2020-08-08 09:42] jeremija opened #260 "Panic when closing ICE TCPPacketConn"
See https://github.com/pion/webrtc/issues/1355

[2020-08-09 10:59] jeremija opened #262 "TCP ICE candidates should have lower preference than UDP"
Currently their priority is higher thank UDP srflx / prflx, which results with TCP prflx -> TCP passive host candidates being used before UDP prflx / UDP srflx pairs.

Related to #245.

[2020-08-09 11:16] jeremija commented on #245
We should also provide a mechanism that would allow us to figure out which network type is currently in use by an ICE Agent. For example, there's no need for having a Jitter Buffer when TCP is in use.

Perhaps there could be a function:

[code]

And then we could expose this information in

[code]

[2020-08-09 11:55] #260 closed

[2020-08-09 22:11] Sean-Der commented on #252
@at-wat sorry missed your response!

The DataChannel already will do a retry, so it doesn't need this error message. So we had loss before, but we just didn't tell the user.

Now we are returning the error, but I just don't think it is useful. The user should be watching the reports from ICE/RTP/SCTP individually. Making them handle the same error in two places is going to be confusing IMO.

[2020-08-10 09:33] jech commented on #252
It is my opinion that a library should return as many error indications as possible: it is easier to ignore an error that the client application is not interested in than to work out on your own whether an error happened.  The main reasons I'd be interested in synchronous error indications (as opposed to the asynchronous `OnIce...` callback) are:

 * it makes debugging easier (why are my packets n

[2020-08-10 19:02] #262 closed

[2020-08-13 08:43] jech commented on #245
How would the client know when this information becomes invalid and must be recomputed?  Can it only change when ICE transitions to the failed state, or can it change at any time?

(And while I agree that this kind of information is potentially useful, I'd argue that you still need a jitter buffer with TCP.  Due to retransmissions and head-of-line blocking, the amount of jitter is higher with TCP

[2020-08-13 19:04] jech opened #280 "ICE Agent can not be restarted when gathering"
In recent versions of the Unnamed SFU, the client will restart ICE whenever the connection's ICE state goes into failed.  I'm occasionally getting the following error:

    ICE Agent can not be restarted when gathering

It happens somewhere in the code that handles incoming offers; I'd need to add more detailed logging in order to know which exact function triggers the error.  How do I avoid this

[2020-08-15 08:17] jeremija commented on #245
Those are all very good points!

This is what I'm not sure about. If it only changes on ICE state changes, perhaps it's better to convey this information via the `OnICEConnectionStateChange`?

[2020-09-05 12:00] jech opened #271 "Only switch to failed after all candidates are exhausted?"
As pointed out in https://github.com/pion/webrtc/issues/1212#issuecomment-686932358 , Pion's handling of the `failed` state is somewhat naive: Pion will switch to `failed` if connectivity cannot be established even if it hasn't received an end-of-candidates indication.

There's a tradeoff here: the current behaviour works well enough in practice, and it gracefully handles the case when the peer ne

[2020-09-05 12:05] jech commented on #242
I think this was fixed in e8ac36354ccb2307134e25a83c4aeb514f5ed160.

[2020-09-05 12:07] jech commented on #128
How much does it increase latency?

[2020-09-10 06:30] Sean-Der commented on #242
:+1: you are right, thanks @jech!

[2020-09-10 06:30] #242 closed

[2020-09-20 17:19] steebchen opened #282 "NAT1To1IPs setting does not work"
Setting the `NAT1To1IPs` is not working for me.

### Your environment.
  - Version: v1.0.16
  - Browser: latest chrome on Mac; Safari
  - Other Information -

### What did you do?
set the `1to1nat` option to a different hostname (where ion-sfu runs on a udp port range) than the one where the client runs

### What did you expect?

That the 1to1nat option works.

### What happened?

It doesn't work.

[2020-09-20 20:59] tarrencev commented on #282
the issue here is the ice candidates are being added before setting the remote description

[2020-09-20 20:59] #282 closed

[2020-09-28 10:04] assadobaid opened #284 "ice connecting through corporate proxy"
## Summary

Pion ICE cannot create a connection to turn server if peers are behind a Corporate Proxy.

## Motivation

When user configure a turn server in ICEServer configuration using  transport tcp, e.g. `turn:<my-server>:3478?transport=tcp`. The ICE is not able to resolve the TCP address or Dial the turn server if the peers are behind a corporate proxy.
The ICE package uses net.DialTCP which is

[2020-10-02 22:32] jech commented on #245
It's easier for the client to query the sender/receiver/transceiver than to keep track of the value last passed to the callback.  This is analoguous to the ICE connection state, which is passed to the callback but also available directly from a PeerConnection method.

[2020-10-09 19:11] #284 closed

[2020-10-11 00:09] Antonito opened #288 "Disconnections not detected with ICE Lite"
### Your environment.
  - Version: v3.0.0-beta.7
  - Browser: n/a

### What did you do?

When using Lite ICE, unexpected disconnections (client terminating without properly closing the peer connection) are not detected.

To reproduce, you can use the `pion-to-pion` example code and patch a few lines:

`answer` ([source](https://github.com/pion/webrtc/blob/master/examples/pion-to-pion/answer/main.g

[2020-10-11 06:14] Sean-Der commented on #288
@Antonito I was able to reproduce this, and able to get a way more minimal repro! https://github.com/pion/ice/commit/8caa623931f06d6ea96854bfc66d75368fccc7c7

 This bug is only exhibited when the Lite agent is running in controlled mode. When acting as the controlling Agent everything is fine. You can see this by flipping these arguments https://github.com/pion/ice/pull/289/files#diff-f1848d6daf4e

[2020-10-11 11:57] Antonito commented on #288
I also think it is related to this TODO, by changing `ContactCandidates()` to:

[code]

It seems to be working (your unit test succeeds, and the `pion-to-pion` thing too). Maybe we could have this as a temporary fix until RFC 8445 S6.1.1 and S6.2 sections are fully implemented?

[2020-10-12 03:07] Sean-Der commented on #288
@Antonito actually I think we just want `validateSelectedPair`! Can you drop the typecast and just do that?

A `ice-lite` agent shouldn't send any outbound traffic. If that passes all the unit tests, I think we can try that out :)  I would check `pion/webrtc` passes as well before we push to master.

[2020-10-12 10:04] Antonito commented on #288
Still need the typecasts to access the agent though!

I tried by only calling `validateSelectedPair` in both cases, it doesn't work.  However, by keeping the current `controllingSelector` code and adding the `validateSelectedPair` to the `controlledSelector`, everything works (`pion/ice` unit tests, `pion/webrtc` unit tests and the `pion-to-pion` example).

[code]

[2020-10-12 19:03] Sean-Der commented on #288
This LGTM, you want to open a PR or I can do it myself :)

Would love for you to get the credit for the work though!

[2020-10-12 20:08] #288 closed

[2020-11-13 07:52] Sean-Der commented on #252
This also breaks DataChannels unfortunately.  https://github.com/pion/sctp/blob/master/association.go#L450-L454 just checks for an error. Downstream also can't check if the error is temporary, this error is because the socket is closed so it isn't temporary.

[2020-11-13 07:55] Sean-Der commented on #252
I am going to bring back the `/v1`  behavior for now, but will leave this open. I would love to see this done right, but I don't have the bandwidth to get this done.

[2020-11-16 17:18] Sean-Der opened #299 "Deadlock during ICE Restart"
This was found during `pion/webrtc` test run. I haven't had a chance to analyze it.

[code]

[2020-11-16 19:59] #299 closed

[2020-11-17 12:08] shawnU96 opened #303 "set select pair will crash"
![image](https://user-images.githubusercontent.com/62194164/99388425-860ac380-2910-11eb-8067-4dced93d294a.png)
![image](https://user-images.githubusercontent.com/62194164/99388461-9458df80-2910-11eb-8e59-e4ce2e3b732c.png)

when Tracef log，candidatePair is null ， candidatePair.toString will crash

[2020-11-28 14:41] jech opened #305 "Pion chooses wrong remote candidate"
Unnamed SFU using Pion running on remote host.  Client is Chromium on Linux and is multihomed: has both an Ethernet and a Wifi connection.  The client offers four host candidates, IPv4+IPv6 for each of the two interfaces.

When Chomium is the controlling agent, then the Ethernet interface is chosen.  When Pion is the controlling agent, on the other hand, the WiFI interface is chosen deterministica

[2020-11-28 22:11] jech commented on #305
I can confirm that the priorities of Chromium's host candidates are reasonable:
  * 2122262783 for the IPv6 address of the Ethernet interface;
  * 2122194687 for the IPv4 address of the Ethernet interface;
  * 2122131711 for the IPv6 address of the WiFi interface; and
  * 2122063615 for the IPv4 address of the WiFi interface.

So it definitely looks like there's something wrong with Pion's candida

[2020-11-29 01:25] at-wat opened #307 "Data race in TestAgentRestart/Restart_Both_Sides"
https://github.com/pion/ice/pull/306/checks?check_run_id=1468689602#step:5:66
[code]

[2020-11-29 02:03] Sean-Der commented on #307
Was able to reproduce locally, fixing now!

[2020-11-29 02:25] Sean-Der commented on #307
@at-wat I am having a hard time understanding this. It seems like calling `c.candidateBase.Marshal` causes the race?

The memory addresses are the same, but unrelated members? Also if I copy `Marshal` into `CandidateHost` the race goes away?

[code]

[2020-11-29 05:47] #307 closed

[2020-11-30 03:12] scorpionknifes commented on #271
@Sean-Der just clarifying, it should only fail if `end-of-candidate` is detected? if so how do we handle it gracefully if the peer never sends an end-of-candidate indication?

Cause it would break this test (potentially implementation). https://github.com/pion/ice/blob/62d1c40d60d65116202d743cb47bda9b1a78cd9f/agent_test.go#L1307.

[2020-11-30 05:50] Sean-Der commented on #271
Hey @scorpionknifes

Sorry for the confusion, but I don't think we can move forward on this. Behavior between browsers is inconsistent. I am afraid to implement something and then have browsers diverge. I am sorry I didn't do more research before recommending this issue :(

* https://stackoverflow.com/a/51641822/5472819
* https://github.com/meetecho/janus-gateway/issues/1670
*

[2020-11-30 05:50] Sean-Der commented on #271
We should love your PR though, and maybe engage with webrtc-pc on what is the proper behavior?

[2020-12-05 17:56] jech commented on #305
I am no longer able to reproduce this — it looks like Pion is choosing the candidate with the highest priority, as it should.  Closing for now.

[2020-12-06 22:01] jech commented on #305
The issue cannot be reproduced locally, but it is definitely there when the server is remote.

Interestingly enough, if I trigger an ICE restart after the connection is established, then Pion switches to the right candidate.  So this might very well be a timing issue: the WiFi candidate is chosen before the Ethernet candidate is received.  Perhaps delaying ICE by a fraction of a second would help?

[2020-12-06 22:07] jech commented on #271
Small timeout when eoc is received, larger timeout if it isn't?

[2020-12-07 10:14] scorpionknifes commented on #271
@jech cool idea. idk if this is a feature people want?

[2020-12-07 13:38] jech commented on #271
There's a tradeoff here: on the one hand, we don't want to give up too early, on the other hand, we want to switch to failed as early as possible so as to give the user timely feedback and possibly trigger an ICE restart.  Question: would using the end-of-candidates indication allow us to fail faster without breaking connectivity in cases where it currently works?
I'm hoping somebody will do the n

[2020-12-09 21:58] jech commented on #305
@Sean-Der has suggested that this might be due to `defaultHostAcceptanceMinWait` in `agent_config.go` being set to 0.  More experimentation is needed.

[2020-12-10 01:45] jech commented on #271
There is some related discussion at https://tools.ietf.org/html/draft-ietf-ice-trickle-21#section-14.

[2020-12-12 19:26] jech commented on #305
Adding
[code]
at the right place does not solve the issue — the wrong candidate is still chosen.

[2020-12-28 18:17] Sean-Der commented on #243
We released pion/webrtc@v3 closing!

[2020-12-28 18:17] #243 closed

[2020-12-28 18:23] Sean-Der commented on #252
Resolving. I am happy with how the API behaves here.

* If you want reliable communication it should be solved higher up
* The lifecycle of the ICEAgent is communicated via the callbacks + you can query the state anytime.

[2020-12-28 18:23] #252 closed

[2021-01-14 06:06] jech opened #324 "Pion should skip the two-second delay when ICETransportPolicy=ICETransportPolicyRelay"
When looping back through a TURN relay, Chrome takes a few milliseconds to connect: https://github.com/jech/galene/blob/master/static/galene.js#L2307

The equivalent code on the server side takes 2 seconds: https://github.com/jech/galene/blob/master/ice/ice.go#L127

The reason for that is that the TURN delay is fixed to two seconds (`ice.defaultRelayAcceptanceMinWait`), and this delay is honoured

[2021-01-14 06:08] Sean-Der commented on #324
This should be pretty easy to fix!

First I need to confirm if settings aren't properly getting passed [here](https://github.com/pion/ice/blob/master/agent_config.go#L179-L183)

Then we also need to lower timeouts depending on enabled types [here](https://github.com/pion/ice/blob/master/agent_config.go#L212)

[2021-01-14 13:01] jech commented on #324
I've added this to the test:
[code]
The test now takes on the order of 350ms, which is still 100ms more than what the browser does, but very reasonable.

[2021-01-17 06:48] #197 closed

[2021-01-17 07:06] #303 closed

[2021-01-21 14:53] #120 closed

[2021-01-23 22:36] wawesomeNOGUI commented on #280
How the ICE Restart Should Work:

Right now the Restart method in agent.go attempts to restart ICE gathering, but if that agent's gatheringstate == GatheringStateGathering, the Restart method returns.

Instead, the Restart method should cancel the gathering processes running in gather.go by running a.gatherCandidateCancle() like [here](https://github.com/pion/ice/blob/12ebfb75b8a95fb40d764782f52c1

[2021-03-10 06:41] lzhou-em opened #336 "ICE STUN detection will fail on packet loss"
### Environment.
  - Version: Linux Ubuntu 20.04
  - Linux running behind an IPv4 NAT router

### What did you do?

This is the example code. This is a func to get all candidates, using STUN: `stun.qq.com`

[code]

### What did you expect?

I want to detect the local ip(Linux eth0) and external ip address(router WAN) correctly, but I found 2 issues that maybe improve:

1. When there is packet loss

[2021-04-19 04:26] Sean-Der opened #350 "Generalize Mux"
I think we can have UDP and TCP Mux be the same interface. This would allow users to just pass a list of Mux instances.

I think the pion/webrtc API is great as is though, less confusing for users.

[2021-04-19 04:46] Sean-Der opened #351 "UDPMux has race in Read/Write"
We currently fill a `packetio.Buffer` with a list of address+message. In memory it looks like `|address|message|address|message|.... `

Currently it is possible for a Read to come in before a Write has completed, so the buffer looks like `|address|`.

We have a few options
* make the Reader/Writer take a lock
* encode address+message in one vector
* use a packetio.Buffer per address

[2021-04-20 01:36] #351 closed

[2021-04-20 21:38] #350 closed

[2021-04-21 04:17] Sean-Der opened #357 "UDPMux is unable to handle Peer Reflexive candidates"
The UDPMux should be able to handle addresses it doesn't  know about.

It is a pretty common case where a ICE Agent doesn't actually know its public IP. If we are behind a Address Independent NAT a STUN server isn't going to help us.

In `connWorker` we should dispatch incoming ICE Packets that are STUN to the appropriate Agent.

[2021-04-21 05:52] #357 closed

[2021-04-21 16:39] xianchuhan opened #359 "How pion webrtc handle ice role conflict"
pion webrtc environment.
Version: v2@v2.2.26

What did you do?
we use pion webrtc as  client，ice role is contrlolling，remote webrtc as server，ice role is controlling，in this case，an end-to-end not solve the problem of conflict of ice, pion webrtc no solution to the conflict, causing the ice connection to fail.

What did you expect?
Hope that the pion webrtc can solve the problem of ice role confli

[2021-04-21 16:41] Sean-Der commented on #359
Hey @xianchuhan

This would be a great change! I don't think it would be that challenging either.

In `selection.go` we have dedicated logic for controlling/controlled. We could add some heuristics to detect if the other side is controlling as well, and then we could switch to controlled. I believe the ICE RFC has explicit instructions on how to do this.

[2021-04-22 01:16] xianchuhan commented on #359
Hi @Sean-Der

In peerconnection. go SetRemoteDescription function，through the simple judgment to set the end of the ICE role，In pion webrtc code do not see the logic of conflict resolution.

As you say, we need According to the ice rfc specification to solve the problem of ice role conflict。

[2021-04-22 14:10] jech opened #360 "No longer compiles with Go 1.13"
Ice no longer compiles with Go 1.13.  This is important for Galène, since some distributions still use 1.13.

[code]

[2021-04-22 16:03] #360 closed

[2021-04-22 22:34] Sean-Der commented on #359
I don't believe the ICE Role goes in the SessionDescription. If you make the Offer you are the controlling ICE Agent. The only thing that can influence that would be `ice-lite`. So I don't believe there is any more logic we need to put in `SetRemoteDescription`

What could happen is that a ICE Agent could incorrectly being in controlling (or controlled mode) and it wouldn't be communicated via the

[2021-04-23 01:10] xianchuhan commented on #359
Thank you very much for your answer.

Just as youe say，when the browser as webrtc client, its ice role is controlling,pion webrtc as server,its ice role is controlled.in some cases,there will be another scenario,browser and pion webrtc turn channel established, then stun channel building,audio and video data is sent from the browser turn switch to stun channels, but pion webrtc remains from the tu

[2021-04-23 02:52] Sean-Der commented on #359
Yes Pion supports switching between srflx and relay candidates. After a `use_candidate` is emitted it stays with TURN or STUN.

If you want to switch after the Selected pair has been chosen you can do a [ice-restart](https://github.com/pion/webrtc/tree/master/examples/ice-restart)

[2021-04-23 03:27] xianchuhan commented on #359
Thank you very much.

I try this approach.

[2021-04-23 08:03] zyxar opened #362 "Any chance to support aggressive nomination?"
## Summary

I believe pion/ice is using _regular nomination_ at present, right? With aggressive nomination, if one of the networks goes down (or the highest priority pair disconnects for some reason), re-nomination, i.e. switching to another different candidate pair without ICE-Restart would be more simple.

## Motivation

Say if a mobile client changes network, (e.g., switching from WiFi to Cellu

[2021-04-24 02:23] Sean-Der commented on #362
Hey @zyxar

I am not against it technically! It would be nice if we could have some sort of standardization conversation.

I don't want to negatively impact other implementations if we add something that only works against one client (Pion <-> Chrome or Pion <-> Pion). It could add brittleness to the protocol, and the lack of documentation could make it hard for others.

[2021-05-04 02:00] swagggpickle opened #367 "Issue: Transport protocol not being obeyed"
### Your environment.
  - Version: 2.1.7
  - Browser: Chrome Version 89.0.4389.114 (Official Build) (64-bit)
  - Coturn: debian/4.5.2-3
  - Firewall: UDP not allowed

### What did you do?

Using the latest version of `coturn` implementation with the `no-udp` flag specified and a strict firewall preventing UDP traffic one would observe that the ice candidate gathering takes 5 seconds. After some in

[2021-07-06 17:16] dtaht commented on #128
kernel context switches COST. a single sendmmsg call has nearly no measurable overhead difference between a sendmsg call for a single packet, but you can bundle up a lot of packets.

Also see ngtcp2 which has similar mechanisms in it that just landed for quic.

[2021-08-01 18:53] jech commented on #280
@Sean-Der what happend to that pull request?

[2021-08-06 16:43] jech opened #518 "UDPMux causes massive packet loss"

[2021-08-11 15:23] jawnsy opened #385 "Breaking change in patch release (2.1.10 -> 2.1.11)"
Hey there!

The most recent patch release included a breaking change to the API, due to removal of the previously-exported `Unknown` symbol. Considering that this was a patch release, that was... unexpected. :sweat_smile:

The problematic change appears to be https://github.com/pion/ice/commit/366757d59dd224ef8d8cec428bc343c8c16c8bed

I would have expected some sort of deprecation period prior to

[2021-08-11 17:00] Sean-Der commented on #385
Oops that is my mistake! I will revert new and tag a new patch release

[2021-08-11 17:04] Sean-Der commented on #385
Thank you so much for opening this issue. Will also improve `NewSchemeType` since we have the chance.

Thinking about it more I think we can do better then `Unknown` enum as well. It seems more idiomatic to do `iota + 1` and use a switch to detect an invalid value?

[2021-08-11 17:09] #385 closed

[2021-08-11 17:12] jawnsy commented on #385
Thanks for the quick reply on this!

[2021-08-30 09:23] renovate[bot] opened #388 "Dependency Dashboard"
This issue provides visibility into Renovate updates and their statuses. [Learn more](https://docs.renovatebot.com/key-concepts/dashboard/)

## Open

These updates have all been created already. Click a checkbox below to force a retry/rebase of any.

 - [ ] [Update golang.org/x/net commit hash to 69e39ba](../pull/389)
 - [ ] [Update module github.com/pion/dtls/v2 to v2.0.10](../pull/391)

---

- [

[2021-10-07 01:54] dgunay commented on #245
@Sean-Der I am unblocked on my issue (was able to get Wowza to enable UDP ICE for me), but seeing as it's October and I try and do Hacktoberfest every year, this seems like a great place to contribute. I'd like to try and help implement active TCP-ICE.

I've only been grappling with low level WebRTC stuff for a few weeks now so I'm not sure where to get started. If you have any guidance on parts o

[2021-10-08 01:55] Sean-Der commented on #245
Fire any/all questions at me in Slack. Would love to help you get started :)

[2021-10-13 03:36] liyoubdu opened #393 "How to create a TCP connection with pion/ice"
i run pion\ice\examples\ping-pong\main.go, it work well.

then i modify main.go, change udp4 to tcp4:
`	iceAgent, err = ice.NewAgent(&ice.AgentConfig{`
	`	NetworkTypes: []ice.NetworkType{ice.NetworkTypeTCP4},  //<---here`
	`})`

try again. but it can not work well.
so, what should i do?

[2021-11-16 03:17] #388 closed

[2021-12-03 14:42] braginini opened #400 "Expand UDP Single Port mode (UDPMux) to all Candidate types"
To start off :)
**A big thank you to the Pion contributors and especially to @Sean-Der for supporting us on this topic.**

## Summary

Expand [Candidate gathering mechanism](https://github.com/pion/ice/blob/72e6a2bab055fd609f18fc430ce959a6137a62e7/gather.go#L82) allowing [UDPMux](https://github.com/pion/ice/blob/master/udp_mux.go) for all the candidate types.

## Motivation

We use Pion ICE implem

[2021-12-04 20:22] braginini commented on #400
I also guess it relates to this one https://github.com/pion/ice/issues/76

[2022-02-22 17:35] Sean-Der opened #427 "Add IPv6 Integration Tests"
Currently GitHub Actions doesn't support IPv6 so we can't add these tests.

I just spent the last two days fixing IPv6 related issues. e0db6d259e9f7690d3b84a1db56644977204d9eb and fb4760c37be8deb5f21e664bd42bbd6bd88b8e50, but I don't have confidence that they will stay fixed.

GitHub has closed as WONTFIX https://github.com/actions/virtual-environments/issues/668 so maybe we need to run our ice te

[2022-03-19 07:01] aziztitu commented on #305
@jech Were you able to find a solution for this? I'm facing a similar problem at the moment. Pion seems to choose a Relay candidate with higher priority while a srflx candidate with lower priority is available

[2022-03-19 12:55] jech commented on #305
No, I never did.  I tried tweaking all sorts of constants in the code, and I still got randomly wrong choices.

[2022-03-29 06:33] 50infivedays opened #435 "gatherCandidatesLocalUDPMux gathers candidates not on socket"
### Your environment.
  - Version: *ice v2.2.2*
  - Browser: *any version*
![image](https://user-images.githubusercontent.com/2149747/160547959-7cd67bb2-503f-465b-a82f-e85c49f70a47.png)

### What did you expect?
i'm expecting it should only gather candidates on socket

### What happened?
it will gather every ip as candiddate , if you have multi ip on your interface , it will make a wrong candidate

[2022-03-29 06:35] 50infivedays commented on #435
@Sean-Der is this a bug? i think it should skip the ip when it is not matched with the socket

[2022-03-30 03:07] 50infivedays commented on #435
will multi-IP on one interface be supported in the future?

[2022-04-11 09:44] cnderrauber opened #440 "different ice candidate behavior as chrome"
### Your environment.
  - Version: *v3.1.27*
  - Browser: *chrome 100.0.4896.75*
  - Other Information - *stacktraces, related issues, suggestions how to fix, links for us to have context*

### What did you do?

I have more than one interfaces, 1 wireless(172.19.4.x), 1 wire(172.19.20.x), 2 vpn. And  enable udp mux at 7884 and network interface filter only include the en0 (wireless).

That will ca

[2022-04-21 07:18] #440 closed

[2022-04-22 09:42] lamhai1401 opened #445 "Close 'closed channel' cause panic"
### Your environment.
  - Version: *pion/ice/v2@v2.2.3*
  - Browser: *Chrome newest version*
  - Other Information - *using simulcast feature*

### What did you do?
I'm trying to re-handshake peerconnection between `pion` and `chrome` continuously

### What happened?
I think the root cause is `gatherCandidateDone` channel was closed before but still to do it again.

<img width="648" alt="Screen Sh

[2022-06-08 13:03] jech commented on #445
Interesting.  Race here?  https://github.com/pion/ice/blob/master/gather.go#L71

[2022-06-09 03:54] lamhai1401 commented on #445
I think race [here](https://github.com/pion/ice/blob/master/gather.go#L84).

My hot fix:
<img width="696" alt="Screen Shot 2022-06-09 at 10 52 46" src="https://user-images.githubusercontent.com/31619361/172760530-eda2f1ea-ec12-41ed-b5c3-a85eef9dc945.png">

Bug happen when i try to peer with ~200 clients, i got this error 2-3 times

[2022-06-10 09:46] lamhai1401 commented on #445
@jech May i do this, i'm testing allday and no panic happen.

<img width="663" alt="Screen Shot 2022-06-10 at 16 44 50" src="https://user-images.githubusercontent.com/31619361/173038826-4c56953e-08d2-4bf1-812b-615382d1969a.png">

[2022-06-10 10:02] jech commented on #445
I don't think that's correct.  If `gatherCandidates` is being called twice, your code would only close the channel once, leading to a hung goroutine somewhere.  We need to understand the cause, not try to paper over a symptom.

[2022-06-10 10:46] jech commented on #445
Could you please try this?  (It's not wholly correct, but it should fix your immediate issue.  We really should clean up the locking in gather.go, it's way too fine-grained, and I'm fairly sure it deadlocks at times.)

*DO NOT COMMIT*  This is not correct.
[code]

[2022-09-01 10:05] stv0g commented on #435
I think it is already supported.

There is just another caveat here: pion/ice uses pion/transports `vnet.Nat` to get a list of interfaces and addresses during `ice.NewAgent()` which remains static for the lifetime of the agent.

No changes of interfaces or addresses will be taken into account.

[2022-10-07 18:08] stv0g opened #482 "failed to build for freebsd_amd64_v1"
[code]

[2022-10-07 18:13] Sean-Der commented on #482
@boks1971 @cnderrauber

We probably need to not support multi IP interfaces for UDPMux. I don’t know how to effectively test all the platforms on this one.

[2022-10-08 04:00] cnderrauber commented on #482
@Sean-Der @stv0g low-level API is not reliable and have compatible problems on some platforms, will draft a new implement to remove those low-level API dependency.

[2022-10-09 05:52] stv0g commented on #482
I submitted a PR which fixes this.
The main issue is that the build tags have been set to broad.
The OOB PKTINFO socket options are now only used for Linux and other platforms will be ignored.
Support for other platforms should be added later one by one

[2022-10-09 06:05] stv0g commented on #482
This will be fixed by merging #483

[2022-10-10 12:22] #482 closed

[2022-10-11 08:02] cnderrauber commented on #435
Fixed by #483 , gather will collect candidates from Mux's socket now.

[2022-10-11 08:02] #435 closed

[2022-11-12 14:49] #280 closed

[2022-11-17 09:41] nerthazrim opened #494 "Allow ICE to open sockets listening on the loopback interface"
## Summary

Allow (and force?) ICE to open sockets listening on the loopback interface.
This can be useful when lo is carrying the IP address one would want to expose.

## Motivation

My VPS host configures its VMs to have their public IPs on the loopback interface.
Therefore, when using Livekit Server, I have to set up DNAT in order to NAT incoming packets on the public IP to the private IP, on w

[2022-11-22 06:17] Sean-Der commented on #494
@cnderrauber I wonder if we could/should have some heuristic to auto enable this also?

Would it help (or hurt) users if we saw they had zero interfaces enable loopback?

[2022-11-22 07:18] cnderrauber commented on #494
@Sean-Der I am concerned that users might be confused by candidates containing loopback addresses if we enable it automatically, since in most case we don't need loopback addresses.
I'm not sure if enable it when no interfaces found will help user, but for this case, the VM have two interfaces, but only the loopback one can be accessed by public clients.

[2022-11-22 09:07] #494 closed

[2022-11-22 11:31] nerthazrim commented on #494
Hi @cnderrauber,

I believe you have a parameter forcing ICE to listen on a specific interface.
As far as I know, this parameter does not allow "lo" as value.

Would it be possible to allow it?
It would solve my problem and won't have any impact on more "standard", let's say, network setups.

[2022-11-25 09:51] AnshulMalik commented on #324
Let's say we add 0 wait times for all these, and now we got the relay candidate, so we nominate it and proceed with connection.
And say after a second, we also got a srlfx candidate. So I wanted to know, if we can now choose this instead of the relay one automatically?